<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
  <form class="form form-vertical"
  #element ="ngForm"  (ngSubmit)="onUpdate(element)"
  >
   <div class="row">
     <div class="col-12">
       <div class="form-group">
         <label for="first-name-vertical">{{'ADD.TITLE'|translate}}</label>
         <input
           type="text"
           id="first-name-vertical"
           class="form-control"
           name="title"
           [(ngModel)]="Element.title"
           
           required
          
         />
       </div>
     </div>
  
  <div class="col-12">
      <div class="form-group">
          <label for="chain">{{'ADD.CHAIN'|translate}}</label>
          <select class="custom-select" id="chain" name="chainId" [(ngModel)]="Element.chainId">
             
              <option selected [value]="el.chainId" *ngFor="let el of chains" >{{el.title}}</option>
          </select>
      </div>
  </div>
  
     <div class="col-12">
       <button 
       
         type="submit"
         rippleEffect
         class="btn btn-primary mr-1"
         [disabled]="!element.valid"
         
       >
       {{'ADD.BTNSUBMIT'|translate}}
       </button>
     </div>
   </div>
  </form>
  
  
  