<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section class="users-list-wrapper"></section>
          
        <div class="card">
            <h4 class="card-title"></h4>
<div class="row">
    <div class="col-12 mb-50">
        <button class="btn btn-primary ml-1" rippleEffect>
            <i data-feather="plus" class="mr-0 mr-sm-1"></i
            ><span routerLink="/apps/chain/add" class="d-none d-sm-inline-block">{{ 'BUTTON.ADD' | translate }}</span>
        </button>
        
    </div>
</div>
<div class="col-md-60 col-12 d-flex justify-content-md-end">
    <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
        <label class="d-flex align-items-center"
        >{{ 'BUTTON.SEARCH' | translate }}<input
                type="search"
                placeholder="{{ 'BUTTON.SEARCH' | translate }}"
                class="form-control ml-25"
                (keyup)="filterUpdate($event)"
                
        /></label>
    </div>
</div>
<ngx-datatable
#table
class="bootstrap core-bootstrap"
        [rows]="kitchenSinkRows"
        [columns]="columns"
        [limit]="selectedOption"
        [columnMode]="ColumnMode.force"
        [scrollbarH]="true"
        [headerHeight]="headerHeight"
        [rowHeight]="rowHeight"
        [footerHeight]="footerHeight"
        rowHeight="auto"
        [limit]="selectedOption"
        [rows]="rows"
        [scrollbarH]="true"
      
        
>
 



  
    <ngx-datatable-column name="{{ 'HEADER.TITLE' | translate }}" prop="title" [width]="300"></ngx-datatable-column>
<ngx-datatable-column name="{{ 'HEADER.CHAINELEMENTS' | translate }}" prop="elements" [width]="450" >
    <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
        <ng-template ngFor let-chainElements [ngForOf]="value">
           {{ chainElements.title }}
           <br>
          
        </ng-template>
    </ng-template>
</ngx-datatable-column>

    
    
    <ngx-datatable-column name="{{ 'HEADER.ACTIONS' | translate }}" [width]="120" prop = "chainId">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <div class="d-flex align-items-center">
               

                  
                     <a class="d-flex align-items-center" routerLink="/apps/chain/detail/{{value}}">
                    <i data-feather="eye"  class="text-primary cursor-pointer ml-1"></i></a>

                    <a  class="d-flex align-items-center" routerLink="/apps/chain/update/{{value}}">
                        <i data-feather="edit" class="text-success cursor-pointer ml-1"> update</i></a>
    
                    
                    <a  class="d-flex align-items-center" (click)="modalOpenForm(modalForm)"
                    ><i data-feather="trash-2" class=" text-danger mr-50 ml-1">Delete</i> </a
                    >
                     <!-- Delete Modal -->
              <div class="login-form">
                <ng-template #modalForm let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">
                      Delete Chain
                    </h4>
                    <button
                      type="button"
                      class="close"
                      (click)="modal.dismiss('Cross click')"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" tabindex="0" ngbAutofocus>
                    <h4>Are you Sure you want to delete this chain ?</h4>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="modal.dismiss('Cross click')"
                      rippleEffect
                    >
                      Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="modal.close(onDelete(value))"
                      rippleEffect
                    >
                      Delete
                    </button>
                  </div>
                </ng-template>
              </div>
              <!-- / Modal -->
               
            </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
  
