<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section class="users-list-wrapper"></section>
        <div class="card">  
<table class="table table-hover">

    <tr>
        <td>{{ 'ADD.TITLE' | translate }}:</td>
        <td>{{nature.title}}</td>
    </tr>
    <tr>
        <td>{{ 'ADD.ISLIST' | translate }}:</td>
        <td>
            <div class="d-flex">
                <div

                *ngIf="

                  nature.isList == true;

                  else elseBlock

                "

              >

                <svg

                  xmlns="http://www.w3.org/2000/svg"

                  width="16"

                  height="16"

                  fill="green"

                  class="bi bi-check-circle-fill"

                  viewBox="0 0 16 16"

                >

                  <path

                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"

                  />

                </svg>

              </div> </div></td>
      </tr>
  
</table>
</div>

</div>
</div>

<ng-template #elseBlock>

    <svg
  
      xmlns="http://www.w3.org/2000/svg"
  
      width="16"
  
      height="16"
  
      fill="red"
  
      class="bi bi-file-x-fill"
  
      viewBox="0 0 16 16"
  
    >
  
      <path
  
        d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"
  
      />
  
    </svg>
  
  </ng-template>