<!-- <p>home works!</p>
<img  src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/khaby-lame-effort-quote-design-template-4c7cf0d61d438236cfb2f0c9fc5f73c6_screen.jpg?ts=1628168188" /> -->
<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">

        <!-- Brand logo-->
        <!-- <a class="brand-logo" href="javascript:void(0);">
            <img src="assets/images/logo/logo.png" alt="brand-logo" height="28" />
            <h2 class="brand-text text-primary ml-1">Insurise</h2></a
        > -->
        <!-- /Brand logo-->

        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
            <img
                class="img-fluid"
                src="assets/images/insurance.svg"
                alt="Login V2"
            />
            </div>
        </div>
        <!-- /Left Text-->

         <!-- Right Text-->
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h1 class="card-title font-weight-bold mb-1 text-center">Insurise! 👋</h1>
                <h1 class="card-title font-weight-bold mb-1 text-center">{{ 'HEADER.TITLE' | translate }}</h1>
                <p class="card-text mb-2 text-center">{{ 'HEADER.SUBTITLE' | translate }}</p>
                <br><br><br>
                <p class="text-center">
                    <u>{{ 'HEADER.DEVELOPEDBY' | translate }}</u>
                    <br>
                    <a href="https://www.proxym-group.com/" target="_blank">
                      <span>PROXYM IT</span>
                    </a>
                  </p>
            </div>
        </div>
        <!-- /Right Text-->

    </div>
</div>