<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section class="users-list-wrapper"></section>
        <div class="card">
            <table class="table table-hover">
               
                <tr>
                    <td>{{'ADD.TITLE' | translate}}:</td>
                    <td>{{element.title}}</td>
                </tr>
                <tr>
                    <td>{{'ADD.CHAIN' | translate}}:</td>
                    <td>{{element.chainId}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>