<app-content-header [contentHeader]="contentHeader"></app-content-header>
<form
  class="form form-vertical"
  [formGroup]="addSinisterNatureForm"
  (ngSubmit)="add()"
>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <label for="first-name-vertical">{{
              "ADD.TITLE" | translate
            }}</label>
            <input
              type="text"
              id="first-name-vertical"
              class="form-control"
              formControlName="title"
              placeholder="{{ 'ADD.TITLE' | translate }}"
              required
            />
          </div>
          <div
            class="col-9"
            *ngIf="
            addSinisterNatureForm.get('title')!.invalid &&
              (addSinisterNatureForm.get('title')!.dirty ||
              addSinisterNatureForm.get('title')!.touched)
            "
          >
            <small
              *ngIf="addSinisterNatureForm.get('title')?.errors?.required"
              class="form-text text-danger"
            >
              This Field is required !!
            </small>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <label for="first-name-vertical">{{
              "ADD.CODE" | translate
            }}</label>
            <input
              type="text"
              id="first-name-vertical"
              class="form-control"
              formControlName="code"
              placeholder="Code"
              required
            />
          </div>
          <div
            class="col-9"
            *ngIf="
            addSinisterNatureForm.get('code')!.invalid &&
              (addSinisterNatureForm.get('code')!.dirty ||
              addSinisterNatureForm.get('code')!.touched)
            "
          >
            <small
              *ngIf="addSinisterNatureForm.get('title')?.errors?.required"
              class="form-text text-danger"
            >
              This Field is required !!
            </small>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <label for="first-name-vertical">{{
              "ADD.BRANCH" | translate
            }}</label>
            <select
              class="custom-select form-control"
              formControlName="branchId"
              required
            >
              <option selected>-Select-</option>
              <option [value]="el.branchId" *ngFor="let el of branchList">
                {{ el.title }}
              </option>
            </select>
          </div>
          <div
            class="col-9"
            *ngIf="
            addSinisterNatureForm.get('branchId')!.invalid &&
              (addSinisterNatureForm.get('branchId')!.dirty ||
              addSinisterNatureForm.get('branchId')!.touched)
            "
          >
            <small
              *ngIf="addSinisterNatureForm.get('branchId')?.errors?.required"
              class="form-text text-danger"
            >
              This Field is required !!
            </small>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12"><h5>Select Menus :</h5></div>
        <div class="col-xl-4 col-md-6 col-12"></div>
        <div class="col-xl-4 col-md-6 col-12"></div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="idaEnabled" />IDA Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input
              type="checkbox"
              formControlName="transactionEnabled"
            />Transaction Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="thirdPartyEnabled" />Third
            Party Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="victimEnabled" />victim
            Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="respEnabled" />Resp Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="respAutoEnabled" />Resp Auto
            Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="affaireEnabled" />Affaire
            Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input
              type="checkbox"
              formControlName="expertiseEnabled"
            />Expertise Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="evalInterneEnabled" />Eval
            Interne Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input
              type="checkbox"
              formControlName="evalInterneCorpEnabled"
            />Eval Interne Corp Enabled
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="form-group">
            <input type="checkbox" formControlName="regExpertEnabled" />Reg
            Expert Enabled
          </div>
        </div>
        <div class="col-12">
          <button type="submit" rippleEffect class="btn btn-primary mr-1">
            {{ "BUTTONS.SUBMIT" | translate }}
          </button>
          <button type="reset" rippleEffect class="btn btn-outline-danger">
            {{ "BUTTONS.RESET" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
